body {
  background: #ececf0;
  font-family: MuseoSansCyrl300;
  overflow-x: hidden;
}
.navbar {
  height: 74px;
  padding-left: 64px;
  padding-right: 64px;
}
.navbar.bg-white {
  background: #fff;
}
.navbar-light .navbar-brand {
  color: #34343e;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link {
  color: #34343e;
}
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #34343e;
}
.navbar-brand {
  font-size: 40px;
  font-family: Fairview;
  display: flex;
}
.navbar-brand img {
  margin-right: 8px;
}
.right-menu {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
}
.navbar-nav .nav-item {
  font-family: MuseoSansCyrl500;
}
.navbar-nav .nav-item:nth-child(1).active ~.nav-line {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.navbar-nav .nav-item:nth-child(2).active ~.nav-line {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.navbar-nav .nav-item:nth-child(3).active ~.nav-line {
  -webkit-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
}
.navbar-nav .nav-item:nth-child(4).active ~.nav-line {
  -webkit-transform: translate3d(300%, 0, 0);
  transform: translate3d(300%, 0, 0);
}
.navbar-nav .nav-item:nth-child(5).active ~.nav-line {
  -webkit-transform: translate3d(400%, 0, 0);
  transform: translate3d(400%, 0, 0);
}
.navbar-nav .nav-item:nth-child(6).active ~.nav-line {
  -webkit-transform: translate3d(500%, 0, 0);
  transform: translate3d(500%, 0, 0);
}
.navbar-nav .nav-item:nth-child(7).active ~.nav-line {
  -webkit-transform: translate3d(600%, 0, 0);
  transform: translate3d(600%, 0, 0);
}
.navbar-nav .nav-item:nth-child(8).active ~.nav-line {
  -webkit-transform: translate3d(700%, 0, 0);
  transform: translate3d(700%, 0, 0);
}
.navbar-nav .nav-line {
  position: absolute;
  top: 66%;
  width: 0;
  height: 2px;
  pointer-events: none;
  border: 1px solid #fff;
  border-width: 0 24px;
  background: #ffbc00;
  -webkit-transition: -webkit-transform 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
}
.btn-login {
  margin-right: 5px;
  background: #ffd24f;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  font-family: MuseoSansCyrl500;
  color: #34343e;
}
.btn-yellow {
  margin-right: 24px;
  background: #ffd24f;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  font-family: MuseoSansCyrl500;
  color: #34343e;
}
.btn-yellow:hover {
  color: #000;
}
.btn-black {
  background: #152038;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  font-family: MuseoSansCyrl100;
  color: #fff;
}
.btn-black:hover {
  color: #ccc;
}
#screen1 .first-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#screen1 .container-fluid {
  padding-left: 230px;
  padding-right: 230px;
}
#screen1 .container-fluid.social-line {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#screen1 .container-fluid.social-line .line {
  width: 48px;
  height: 0px;
  border: 1px solid #000;
  margin-right: 24px;
}
#screen1 .container-fluid.social-line .social-item {
  height: 54px;
  width: 54px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#screen1 .container-fluid.social-line .social-item.fb {
  background-image: url("../../images/fb-default.svg");
}
#screen1 .container-fluid.social-line .social-item.fb:hover {
  background-image: url("../../images/fb-hovered.svg");
}
#screen1 .container-fluid.social-line .social-item.ins {
  background-image: url("../../images/instagram-default.svg");
}
#screen1 .container-fluid.social-line .social-item.ins:hover {
  background-image: url("../../images/instagram-hovered.svg");
}
#screen1 .container-fluid.social-line .social-item.yt {
  background-image: url("../../images/yt-default.svg");
}
#screen1 .container-fluid.social-line .social-item.yt:hover {
  background-image: url("../../images/yt-hovered.svg");
}
#screen1 .container-fluid.social-line .social-item.tw {
  background-image: url("../../images/twitter-default.svg");
}
#screen1 .container-fluid.social-line .social-item.tw:hover {
  background-image: url("../../images/twitter-hovered.svg");
}
#screen1 .container-fluid.social-line .social-item.tg {
  background-image: url("../../images/telegram-ic-default.svg");
}
#screen1 .container-fluid.social-line .social-item.tg:hover {
  background-image: url("../../images/telegram-ic-hovered.svg");
}
#screen1 .container-fluid.social-line .social-item.vk {
  background-image: url("../../images/vk-default.svg");
}
#screen1 .container-fluid.social-line .social-item.vk:hover {
  background-image: url("../../images/vk-hovered.svg");
}
#screen1 .container-fluid.partners {
  margin-top: 150px;
  padding: 0 225px;
  display: flex;
  align-items: center;
}
#screen1 .container-fluid.partners .title {
  margin-right: 96px;
  font-family: MuseoSansCyrl700;
  font-size: 30px;
  color: #34343e;
}
#screen1 .container-fluid.partners img {
  margin: 0 64px;
}
#screen1 .container-fluid.what-is {
  margin-top: 40px;
  padding: 125px 125px 0;
  background-image: linear-gradient(to bottom, rgba(236,236,240,0), #373c4a);
}
#screen1 .container-fluid.what-is .desktop {
  width: 100%;
  z-index: 15;
}
#screen1 .container-fluid.what-is .slider-container {
  z-index: 14;
  position: absolute;
  top: 4.6%;
  left: 12%;
  width: 77%;
  height: 53.3%;
}
#screen1 .container-fluid.what-is .slider-container .slider-pagination-bullets {
  display: none;
}
#screen1 .container-fluid.what-is .screenshot {
  width: 100%;
}
#screen1 .container-fluid.what-is .title {
  margin-top: 15px;
  font-family: MuseoSansCyrl300;
  font-size: 60px;
  color: #34343e;
}
#screen1 .container-fluid.what-is .subtitle {
  margin-top: 5px;
  font-family: MuseoSansCyrl100;
  font-size: 18px;
  color: #34343e;
}
#screen1 .container-fluid.what-is .description {
  margin-top: 24px;
  font-family: MuseoSansCyrl100;
  font-size: 18px;
  line-height: 1.67;
  color: #34343e;
  max-width: 630px;
}
#screen1 .container-fluid.what-is .buttons {
  margin-top: 48px;
}
#screen1 .container-fluid.what-is .btn-black {
  margin-top: 25px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
}
#screen1 .container-fluid.what-is .btn-black img {
  width: 13px;
  height: 16px;
  margin-top: -4px;
  margin-right: 14px;
}
#screen1 .container-fluid.what-is .promo {
  display: flex;
  flex-direction: column;
}
#screen1 .container-fluid.what-is .desc {
  padding-left: 50px;
}
.social-line {
  height: 54px;
  margin-top: 80px;
}
.btn-buy-tokens {
  margin-right: 5px;
  margin-left: 5px;
  background: #ffd24f;
  background: linear-gradient(45deg, #fda503, #fff5da);
  background-size: 200% 200%;
  animation-name: movingcolor;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0.475rem;
  padding-bottom: 0.475rem;
  font-size: 18px;
  font-family: MuseoSansCyrl500;
  color: #34343e;
  position: relative;
  top: -15px;
  border: none;
}
.dropdown-toggle {
  font-size: 18px;
  font-family: MuseoSansCyrl500;
  text-transform: uppercase;
}
.dropdown-toggle::after {
  width: 12px;
  height: 10px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  background: url("../../images/expand-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 5px;
  position: relative;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 24px;
    padding-right: 24px;
    color: #0f1118;
    font-size: 18px;
  }
}
.screen1.title {
  font-size: 60px;
  margin-top: 100px;
  font-family: MuseoSansCyrl300;
}
.countdown {
  padding-top: 40px;
  display: inline-block;
}
.countdown .title {
  font-size: 20px;
  font-family: MuseoSansCyrl500;
  padding-left: 5px;
}
.timer {
  width: 310px;
  display: flex;
}
.timer .hours {
  margin: 0 20px;
}
.timer .first {
  margin-right: 5px;
}
.timer .first,
.timer .second {
  font-size: 57.08px;
  background: #3e3d42;
  color: #ececf0;
  height: 70px;
  width: 40px;
  font-family: MuseoSansCyrl300;
  border-radius: 3px;
  padding: 0 3px;
}
.timer div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.timer .numbers {
  display: flex;
  flex-direction: row;
}
.timer .title {
  padding: 0;
  margin-top: 5px;
  font-size: 18px;
}
.bonus-desc {
  display: inline-block;
  position: relative;
  font-size: 16px;
  margin-left: 12px;
  top: -4px;
}
.bonus-desc span {
  display: block;
  line-height: 1.3;
}
.crypto {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.crypto .title {
  font-family: MuseoSansCyrl500;
  font-size: 20px;
  color: #34343e;
}
.crypto .collection {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.crypto .collection .item {
  padding: 14px 5px;
  width: 72px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin-right: 18px;
}
.crypto .collection .item .cur-logo {
  display: flex;
  justify-content: center;
  height: 46px;
}
.crypto .collection .item .description {
  font-family: MuseoSansCyrl700;
  line-height: 1;
}
.crypto .collection .item .description .count {
  display: none;
}
.crypto .collection .item:hover {
  padding-bottom: 7px;
  background: #ffd24f;
}
.crypto .collection .item:hover .description .count {
  display: block;
  text-align: center;
}
.crypto .collection .item:hover .description .name {
  display: none;
}
.anim {
  width: 100%;
  height: 200vh;
  position: absolute;
}
.anim .path {
  stroke-width: 0.5;
}
img,
a {
  z-index: 10;
}
::-webkit-scrollbar {
  width: 9px;
  height: 5px;
}
::-webkit-scrollbar:horizontal {
  background-color: #484e5b;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0,0,0,0);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 9px;
  border: 3px solid rgba(0,0,0,0);
  background-clip: padding-box;
  background-color: #8f9292;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical:active {
  height: 5px;
  background-color: #8f9292;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical:window-inactive {
  height: 5px;
  background-color: #8f9292;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #ffbc00;
  border-radius: 3px;
}
@-moz-keyframes movingcolor {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
@-webkit-keyframes movingcolor {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
@-o-keyframes movingcolor {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
@keyframes movingcolor {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
