@media(max-width: 1440px)
    .screen1
        &.title
            font-size 50px

    #screen1
        .container-fluid
            &.partners
                flex-wrap nowrap

                .title
                    margin-right 66px

                img 
                    margin 16px 34px 0

            &.what-is
                padding-bottom 60px

                .title
                    font-size 50px

                .subtitle
                    font-size 16px

                .description
                    font-size 16px

                .btn-yellow
                    margin-bottom 12px
                    padding-left 15px
                    padding-right 15px 
                    font-size 14px  

    .bonus-desc
        margin-top 16px

    .partners-icons
        align-items center
        justify-content space-around

@media(max-width: 1100px)
    #screen1
        .container-fluid
            &.what-is
                padding 100px 100px 60px

                .desc
                    padding-left 20px

@media(max-width: 1024px)
    .screen1
        &.title
            font-size 40px

    #screen1
        .container-fluid
            padding-left 110px
            padding-right 110px

            &.social-line
                padding-left 50px
                padding-right 110px

            &.partners
                margin-top 140px
                padding 0 110px

                .title
                    font-size 18px

                img 
                    margin 0 26px

            &.what-is
                padding 70px 70px 0

                .title
                    font-size 40px
                    margin-top 0

                .subtitle
                    font-size 14px

                .description
                    font-size 14px

                .buttons
                    margin-top 20px

                .btn-black
                    margin-bottom 100px

    .countdown
        padding-top 26px

    .crypto
        margin-top 60px

    .btn-black
        font-size 14px
        padding-left 15px
        padding-right 15px

@media(max-width: 960px)
    .screen1
        .title
            font-size 30px

    #screen1
        .container-fluid
            padding-left 96px
            padding-right 96px

            &.what-is
                padding-top 40px

                .title
                    font-size 30px

                .subtitle
                    color #142038

                .btn-black
                    margin-bottom 40px
                    margin-top 0

                .buttons
                    margin-bottom 60px

                .description
                    color #fff
                    font-size 16px

            &.partners
                margin-top 60px

                img
                    margin-top 16px

    .bonus-desc
        margin-top 24px
        margin-left 5px

    .partners-icons
        align-items center
        justify-content space-around

    .social-line
        margin-top 60px

@media(max-width: 576px)
    .btn-buy-tokens
        width 100%
        margin-top 24px
        margin-left 0

@media(max-width: 425px)
    .screen1
        &.title
            font-size 30px
            text-align center

    .application, .economy-section, .blog-section, .what-is, .anim, .adventages, .team, .roadmap, .application, #screen1
        overflow-x hidden

    #screen1
        .container-fluid
            padding-left 32px
            padding-right 32px

            &.social-line
                padding-left 32px
                padding-right 32px

            &.partners
                padding-left 32px
                padding-right 32px
                display flex
                flex-direction column

                .title
                    margin-right 0
                    margin-bottom 8px

            &.what-is
                padding-left 32px
                padding-right 32px
                padding-top 20px

                .btn-black
                    font-size 18px
                    width 100%
                    margin-top 24px

                .btn-yellow
                    font-size 18px
                    width 100%
                    margin-bottom 12px   

                .desc
                    padding-left 15px
                    padding-right 15px

                .title
                    text-align center

                .subtitle
                    text-align center
                    font-size 12px

                .description
                    text-align justify

    .countdown
        padding-top 16px
        width 100%
        display flex
        flex-direction column
        align-items center

    .bonus-desc
        width 100%
        text-align center

    .crypto
        margin-top 48px

        .title
            text-align center

        .collection
            justify-content center

            .item
                width 50px
                height 72px

                &:last-child
                    margin-right 0

                .cur-logo
                    margin-bottom 8px
                
                .description
                    .name
                        font-size 12px

@media(max-width: 325px)
    .timer
        display flex
        justify-content center

        .first, .second
            height 50px
            width 30px
            font-size 45px
                

            
            

    