body
    background #ececf0
    font-family MuseoSansCyrl300
    overflow-x hidden

@keyframes movingcolor
    0%
        background-position 0% 0%
    100%
        background-position 100% 100%

.navbar
    height 74px
    padding-left 64px
    padding-right 64px
    -webkit-box-shadow 0px 3px 21px -11px #000000
    -moz-box-shadow 0px 3px 21px -11px #000000
    box-shadow 0px 3px 21px -11px #000000

    &.bg-white
        background #FFF

.navbar-light
    .navbar-brand
        color #34343e

    .navbar-nav
        .show, .active
            > .nav-link
                color #34343e

        .nav-link
            &.show, &.active
                color #34343e

.navbar-brand
    font-size 40px
    font-family Fairview
    display flex

    img
        margin-right 8px

.right-menu
    padding-top .5rem
    padding-bottom .5rem
    display flex

.navbar-nav
    .nav-item
        font-family MuseoSansCyrl500

        &:nth-child(1)
            &.active
                ~ .nav-line
                    -webkit-transform translate3d(0, 0, 0)
                    transform translate3d(0, 0, 0)

        &:nth-child(2)
            &.active
                ~ .nav-line
                    -webkit-transform translate3d(100%, 0, 0)
                    transform translate3d(100%, 0, 0)

        &:nth-child(3)
            &.active
                ~ .nav-line
                    -webkit-transform translate3d(200%, 0, 0)
                    transform translate3d(200%, 0, 0)

        &:nth-child(4)
            &.active
                ~ .nav-line
                    -webkit-transform translate3d(300%, 0, 0)
                    transform translate3d(300%, 0, 0)

        &:nth-child(5)
            &.active
                ~ .nav-line
                    -webkit-transform translate3d(400%, 0, 0)
                    transform translate3d(400%, 0, 0)

        &:nth-child(6)
            &.active
                ~ .nav-line
                    -webkit-transform translate3d(500%, 0, 0)
                    transform translate3d(500%, 0, 0)

        &:nth-child(7)
            &.active
                ~ .nav-line
                    -webkit-transform translate3d(600%, 0, 0)
                    transform translate3d(600%, 0, 0)

        &:nth-child(8)
            &.active
                ~ .nav-line
                    -webkit-transform translate3d(700%, 0, 0)
                    transform translate3d(700%, 0, 0)

    .nav-line
        position absolute
        top 66%
        width 0
        height 2px
        pointer-events none
        -webkit-transition -webkit-transform 0.5s
        transition all 0.5s
        -webkit-transition-timing-function cubic-bezier(0.46, 0.05, 0.46, 0.79)
        -webkit-transition-timing-function cubic-bezier(0.46, 0.05, 0.46, 0.79)
        transition-timing-function cubic-bezier(0.46, 0.05, 0.46, 0.79)

.btn-login
    margin-right 5px
    background #ffd24f
    padding-left 25px
    padding-right 25px
    font-size 18px
    font-family MuseoSansCyrl500
    color #34343e

.btn-yellow
    margin-right 24px
    background #ffd24f
    padding-left 25px
    padding-right 25px
    font-size 18px
    font-family MuseoSansCyrl500
    color #34343e

    &:hover
        color #000

.btn-black
    background #152038
    padding-left 25px
    padding-right 25px
    font-size 18px
    font-family MuseoSansCyrl100
    color #ffffff

    &:hover
        color #ccc

#screen1
    .first-screen
        padding 50px 200px 0 200px
        min-height calc(100vh - 124px)
        display flex
        flex-direction column
        justify-content space-around

        @media (min-width 1440px) and (max-width 2560px)
                padding 50px 200px 0 200px

        @media (min-width 1024px) and (max-width 1440px)
                padding 50px 100px 0 100px

        @media (min-width 768px) and (max-width 1024px)
                min-height calc(120vh + 170px - 124px)
                max-height calc(120vh + 170px + 450px - 124px)
                padding 50px 75px 0 75px

        @media (min-width 425px) and (max-width 768px)
                padding 50px 200px 0 200px

        .social-line
            margin-left -50px
            display flex
            flex-direction row
            align-items center

            @media (min-width 768px) and (max-width 1024px)
                margin-left 0

            .line
                width 48px
                height 0
                border 1px solid black
                margin-right 24px

            .social-item
                height 54px
                width 54px
                background-repeat no-repeat
                background-position center
                cursor pointer

                &.fb
                    background-image url('../../images/fb-default.svg')
                    &:hover
                        background-image url('../../images/fb-hovered.svg')
                &.ins
                    background-image url('../../images/instagram-default.svg')
                    &:hover
                        background-image url('../../images/instagram-hovered.svg')
                &.yt
                    background-image url('../../images/yt-default.svg')
                    &:hover
                        background-image url('../../images/yt-hovered.svg')
                &.tw
                    background-image url('../../images/twitter-default.svg')
                    &:hover
                        background-image url('../../images/twitter-hovered.svg')
                &.tg
                    background-image url('../../images/telegram-ic-default.svg')
                    &:hover
                        background-image url('../../images/telegram-ic-hovered.svg')
                &.vk
                    background-image url('../../images/vk-default.svg')
                    &:hover
                        background-image url('../../images/vk-hovered.svg')
        &.partners
            margin-top 150px
            padding 0 225px
            display flex
            align-items center
            justify-content center

            .title
                margin-right 96px
                font-family MuseoSansCyrl700
                font-size 30px
                color #34343e
                z-index 10

            img
                margin 16px 64px 0

        &.what-is
            margin-top 40px
            padding 125px 125px 0
            -webkit-background-image linear-gradient(to bottom, rgba(236, 236, 240, 0), #373c4a)
            -webkit-background-image linear-gradient(to bottom, rgba(236, 236, 240, 0), #373c4a)
            -moz-background-image linear-gradient(to bottom, rgba(236, 236, 240, 0), #373c4a)
            -o-background-image linear-gradient(to bottom, rgba(236, 236, 240, 0), #373c4a)
            background-image linear-gradient(to bottom, rgba(236, 236, 240, 0), #373c4a)

            .desktop
                width 100%
                z-index 15

            .slider-container
                z-index 14

                .slider-pagination-bullets
                    display none

            .screenshot
                width 100%

            .title
                margin-top 15px
                font-family MuseoSansCyrl300
                font-size 60px
                color #34343e

            .subtitle
                margin-top 5px
                font-family MuseoSansCyrl100
                font-size 18px
                color #34343e

            .description
                margin-top 24px
                font-family MuseoSansCyrl100
                font-size 18px
                line-height 1.67
                color #34343e
                max-width 630px

            .buttons
                margin-top 48px

            .btn-black
                margin-top 25px
                margin-bottom 150px
                margin-left auto
                margin-right auto

                img
                    width 13px
                    height 16px

            .desktop-outer
                display flex
                flex-direction column

            .desc
                padding-left 50px

.social-line
    height 54px

.desktop-for-mobile
    display none
    width 100%

.promo
    text-align center

.btn-buy-tokens
    margin-right 5px
    margin-left 5px
    background linear-gradient(45deg, #fda503, #fff5da)
    background-size 200% 200%
    -webkit-animation movecolors 10s ease infinite
    -moz-animation movecolors 10s ease infinite
    animation movecolors 10s ease infinite
    @-webkit-keyframes movecolors {
        0% {
            background-position: 0 79%
        }
        50% {
            background-position: 100% 22%
        }
        100% {
            background-position: 0 79%
        }
    }
    @-moz-keyframes movecolors {
        0% {
            background-position: 0 79%
        }

        50% {
            background-position: 100% 22%
        }

        100% {
            background-position: 0 79%
        }
    }
    @keyframes movecolors {
        0% {
            background-position: 0 79%
        }

        50% {
            background-position: 100% 22%
        }

        100% {
            background-position: 0 79%
        }
    }

    padding-left 25px
    padding-right 25px
    padding-top 0.475rem
    padding-bottom 0.475rem
    font-size 18px
    font-family MuseoSansCyrl500
    color #34343e
    position relative
    top -15px
    border none

.dropdown-toggle
    font-size 18px
    font-family MuseoSansCyrl500
    text-transform uppercase

    &::after
        width 12px
        height 10px
        border-top 0
        border-right 0
        border-bottom 0
        border-left 0
        background url(../../images/expand-arrow.svg)
        background-size contain
        background-repeat no-repeat
        top 5px
        position relative

@media (min-width: 992px)
    .navbar-expand-lg
        .navbar-nav
            .nav-link
                padding-left 24px
                padding-right 24px
                color #0f1118
                font-size 18px

.screen1
    &.title
        font-size 60px
        font-family MuseoSansCyrl300
        margin-bottom 0

.countdown
    display inline-block

    .title
        font-size 20px
        font-family MuseoSansCyrl500
        padding-left 5px

.timer
    width 310px
    display flex

    .hours
        margin 0 20px

    .first
        margin-right 5px

    .first, .second
        font-size 57.08px
        background #3e3d42
        color #ececf0
        height 70px
        width 40px
        font-family MuseoSansCyrl300
        border-radius 3px
        padding 0 3px

    & div
        display flex
        align-items center
        justify-content center
        flex-direction column

    .numbers
        display flex
        flex-direction row

    .title
        padding 0
        margin-top 5px
        font-size 18px

.bonus-desc
    display inline-block
    position relative
    font-size 16px
    margin-left 12px
    top -4px

    span
        display block
        line-height 1.3

.crypto
    display flex
    flex-direction column

    .title
        font-family MuseoSansCyrl500
        font-size 20px
        color #34343e

    .collection
        display flex
        flex-direction row
        margin-top 25px

        @media (max-width 320px)
            flex-wrap wrap

        .item
            width 90px
            height 104px
            display flex
            flex-direction column
            justify-content space-between
            align-items center
            background transparent

            @media (max-width 320px)
                margin-top 10px
                width 68px

            .inner
                height 100%
                width 72px
                padding 14px 5px
                background #ffffff
                -webkit-transition all .3s ease-in-out
                -o-transition all .3s ease-in-out
                transition all .3s ease-in-out

                @media (max-width 320px)
                    margin-top 10px
                    width 50px

                .cur-logo
                    display flex
                    justify-content center
                    height 46px

                .description
                    font-family MuseoSansCyrl700
                    line-height 1

                    .count
                        display none

                    .name
                        text-transform uppercase

                    @media (max-width 320px)
                        font-size 10px

                &:hover
                    padding-bottom 7px
                    background #ffd24f

                    .description
                        .count
                            display block
                            text-align center

                        .name
                            display none

.anim
    width 100%
    height 200vh
    position absolute

    .path
        stroke-width 0.5

img, a
    z-index 10

::-webkit-scrollbar
    width 9px
    height 5px

    &:horizontal
        background-color #484e5b

::-webkit-scrollbar-track-piece
    background-color rgba(0, 0, 0, 0)
    border-radius 3px

::-webkit-scrollbar-thumb
    &:vertical
        height 9px
        border 3px solid rgba(0, 0, 0, 0)
        background-clip padding-box
        background-color #8f9292
        border-radius 3px

        &:active
            height 5px
            background-color #8f9292
            border-radius 3px

        &:window-inactive
            height 5px
            background-color #8f9292
            border-radius 3px

    &:horizontal
        width 5px
        background-color #ffbc00
        border-radius 3px