body
    background #ececf0
    font-family MuseoSansCyrl300

.navbar
    height 74px
    padding-left 64px
    padding-right 64px

    &.bg-white
        background #FFF

.navbar-light 
    .navbar-brand
        color #34343e
    .navbar-nav
        .show, .active
            > .nav-link
                color #34343e
        .nav-link
            &.show, &.active
                color #34343e

.navbar-brand
    font-size 40px
    font-family Fairview
    display flex
    img
        margin-right 8px

.right-menu
    padding-top .5rem
    padding-bottom .5rem
    display flex

.navbar-nav
    .nav-item
        font-family MuseoSansCyrl500
        &:nth-child(1)
            &.active
                ~.nav-line
                    -webkit-transform translate3d(0, 0, 0)
                    transform translate3d(0, 0, 0)
        &:nth-child(2)
            &.active
                ~.nav-line
                    -webkit-transform translate3d(100%, 0, 0)
                    transform translate3d(100%, 0, 0)
        &:nth-child(3)
            &.active
                ~.nav-line
                    -webkit-transform translate3d(200%, 0, 0)
                    transform translate3d(200%, 0, 0)
        &:nth-child(4)
            &.active
                ~.nav-line
                    -webkit-transform translate3d(300%, 0, 0)
                    transform translate3d(300%, 0, 0)
        &:nth-child(5)
            &.active
                ~.nav-line
                    -webkit-transform translate3d(400%, 0, 0)
                    transform translate3d(400%, 0, 0)
        &:nth-child(6)
            &.active
                ~.nav-line
                    -webkit-transform translate3d(500%, 0, 0)
                    transform translate3d(500%, 0, 0)
        &:nth-child(7)
            &.active
                ~.nav-line
                    -webkit-transform translate3d(600%, 0, 0)
                    transform translate3d(600%, 0, 0)
        &:nth-child(8)
            &.active
                ~.nav-line
                    -webkit-transform translate3d(700%, 0, 0)
                    transform translate3d(700%, 0, 0)

    .nav-line
        position absolute
        top 66%
        width 0
        height 2px
        pointer-events none
        border 1px solid #fff
        border-width 0 24px
        background #ffbc00
        -webkit-transition -webkit-transform 0.5s
        transition all 0.5s
        -webkit-transition-timing-function cubic-bezier(1, 0.01, 0, 1)
        -webkit-transition-timing-function cubic-bezier(1, 0.01, 0, 1.22)
        transition-timing-function cubic-bezier(1, 0.01, 0, 1.22)

.btn-login
    margin-right 5px
    background #ffd24f
    padding-left 25px
    padding-right 25px
    font-size 18px
    font-family MuseoSansCyrl500

.dropdown-toggle
    font-size 18px
    font-family MuseoSansCyrl500
    text-transform uppercase
    &::after
        width 12px
        height 10px
        border-top 0
        border-right 0
        border-bottom 0
        border-left 0
        background url(../../images/expand-arrow.svg)
        background-size contain
        background-repeat no-repeat
        top 5px
        position relative

@media (min-width: 992px)
    .navbar-expand-lg
        .navbar-nav
            .nav-link
                padding-left 24px
                padding-right 24px
                color #0f1118
                font-size 18px

.container-fluid
    padding-left 230px
    padding-right 230px

.screen1
    &.title
        font-size 60px
        margin-top 150px
        font-family MuseoSansCyrl300

.countdown
    padding-top 40px
    .title
        font-size 20px
        font-family MuseoSansCyrl500
        padding-left 5px

.timer
    width 310px
    display flex
    .hours
        margin 0 20px
    .first
        margin-right 5px
    .first, .second 
        font-size 57.08px
        background #3e3d42
        color #ececf0
        height 70px
        width 40px
        font-family MuseoSansCyrl300
        border-radius: 3px
        padding 0 3px
    & div
        display flex
        align-items center
        justify-content center
        flex-direction column
    .numbers
        display flex
        flex-direction row
    .title
        padding 0
        margin-top 5px