.switch-control
    position absolute
    display inline-block
    width 34px
    height 18px

    input
        display none !important

        &:checked + .slider
            background-color #34343e

        &:focus + .slider
            box-shadow 0 0 1px #2196f3


        &:checked + .slider:before
            -webkit-transform translateX(22px)
            -ms-transform translateX(22px)
            transform translateX(16px)

    & .slider
        position absolute
        cursor pointer
        top -5px
        left 0
        right 0
        bottom 5px
        background-color #ccc
        -webkit-transition .4s
        transition .4s
        border-radius 2px

        &:before
            position absolute
            content ""
            height 14px
            width 14px
            left 2px
            bottom 2px
            background-color white
            -webkit-transition .4s
            transition .4s