@font-face {
  font-family: Fairview;
  src: url("../../../static/fonts/Fairview_SmallCaps.otf");
}
@font-face {
  font-family: MuseoSansCyrl100;
  src: url("../../../static/fonts/MuseoSansCyrl100.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../../../static/fonts/MuseoSansCyrl300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../../../static/fonts/MuseoSansCyrl500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../../../static/fonts/MuseoSansCyrl700.otf");
}
@font-face {
  font-family: MuseoSansCyrl900;
  src: url("../../../static/fonts/MuseoSansCyrl900.otf");
}
