*::selection {
  background: #ffd24f;
}
.ico-left *::selection {
  background: #6cc2f9;
}
.ico-left button::selection {
  background: #ffd24f;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: MuseoSansCyrl500;
  background-color: #f5f8fa;
}
body::selection {
  background: #ffd24f;
}
html {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: MuseoSansCyrl500;
  line-height: 1.3;
  margin: 0 0 1em 0;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  background: #ffd24f;
}
h2 {
  font-size: 1.75em;
}
.menu ul li {
  font-size: 14px;
  line-height: 1.5;
  font-family: MuseoSansCyrl500;
  color: #fcfcfc;
  transition: color 200ms ease;
}
.menu ul li:hover {
  color: #ffd24f;
}
.greeting {
  min-height: 100vh;
  height: auto;
  background: #474b4b;
}
.greeting .b-grid__list {
  position: relative;
  padding-top: calc(10% + 100px);
}
.greeting .welcome {
  margin-top: 0;
  color: #fff;
  font-size: 82px;
  margin-bottom: 2em;
}
.greeting .starting {
  color: #ffd24f;
  font-size: 50px;
  text-transform: uppercase;
}
.wrapper {
  padding: 6em 0 4em 0;
  position: relative;
  background-color: #f5f8fa;
  color: #637485;
}
.wrapper .inner {
  margin: 0 auto;
  max-width: 75em;
  width: calc(100% - 4em);
  padding: 0 1em 0 2em;
}
.wrapper .inner .b-grid__list .b-grid__item {
  padding: 0 15px 15px 15px;
}
.wrapper .inner .b-grid__list .b-grid__item--1-2:first-child,
.wrapper .inner .b-grid__list .b-grid__item--1-3:first-child {
  padding: 0 15px 15px 0;
}
.wrapper .inner .b-grid__list .b-grid__item--1-2:last-child,
.wrapper .inner .b-grid__list .b-grid__item--1-3:last-child {
  padding: 0 0 15px 15px;
}
.wrapper .inner-list p.title {
  color: #fff;
  font-size: 46px;
  margin-bottom: 1em;
}
.wrapper .inner-list p.subtitle {
  color: #fff;
  font-size: 20px;
}
.wrapper .inner-list .b-grid__list {
  color: #fff;
}
.wrapper .inner-list .b-grid__list h3 {
  font-size: 24px;
}
.teams {
  background-color: #2a2d30;
}
.teams .title {
  color: #fff;
  text-align: center;
}
.teams .serokell {
  text-align: center;
  margin-bottom: 5em;
}
.teams .serokell .title {
  margin-bottom: 0.5em;
}
.wrapper.style2 {
  background-color: #f5f8fa;
  color: #637485;
}
.wrapper.style2 .button {
  background-color: #ffd24f;
  border-radius: 0;
  font-size: 14px;
  border: none;
  color: #34343e;
  height: 41px;
  line-height: 3.1;
  padding: 0 1em;
}
.wrapper.style2 .button:hover {
  background: #ffdd78;
  cursor: pointer;
}
.wrapper.style3 {
  background-color: #0d1717;
  padding: 3em 0 4em 0;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}
.actions li:last-child {
  padding-right: 0;
}
.spotlights {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin-bottom: 0;
  font-family: MuseoSansCyrl500;
  margin-left: -15px;
}
.spotlights article {
  background-color: #fff;
  padding: 3.5em 3em 1.5em 3em;
  box-shadow: 0 1em 5em rgba(0,0,0,0.05);
  margin-bottom: 3em;
}
.spotlights article.info-card {
  max-width: 600px;
}
@media (max-width: 760px) {
  .spotlights article.info-card {
    max-width: 100%;
  }
}
.spotlights article header.major {
  margin-bottom: 2em;
  padding-bottom: 2em;
  position: relative;
}
.spotlights article header.major p {
  color: #0d1717;
  font-weight: 700;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}
.spotlights article header.major p.large {
  font-size: 30px;
}
.spotlights article header.major h1,
.spotlights article header.major h2,
.spotlights article header.major h3 {
  margin-bottom: 0;
  color: #474b4b;
}
.spotlights article header.major:after {
  width: 7em;
  position: absolute;
  left: 0;
  height: 1px;
  content: '';
  bottom: 0;
  background-color: #d1d1d1;
}
.spotlights article p {
  color: #474b4b;
}
.spotlights article p::selection {
  background: #ffd24f;
}
@media screen and (max-width: 760px) {
  .spotlights article li {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    margin-right: 0;
  }
  .spotlights article li li {
    width: calc(100% - 10px);
  }
  .spotlights article li a {
    width: 100%;
  }
  .spotlights article li:last-child {
    margin-bottom: 0;
  }
}
.title {
  opacity: 0.9;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -0.6px;
  margin: 0;
}
.subtitle {
  opacity: 0.9;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -0.6px;
  margin: 0;
}
.text-center {
  text-align: center;
}
.right {
  background-color: #fff;
  padding: 60px 60px;
  position: relative;
  border-radius: 4px 0 0 4px;
}
.right::after {
  content: '';
  display: inline-block;
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -60%;
  background-color: #fff;
}
.left {
  background-color: #fff;
  padding: 60px 60px;
  position: relative;
  border-radius: 0 4px 4px 0;
}
.left::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: #fff;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.team-list .item {
  width: 33%;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .team-list .item {
    width: 50%;
  }
}
@media screen and (max-width: 760px) {
  .team-list .item {
    width: 100%;
  }
}
.team-list .item img {
  margin-bottom: 10px;
}
.team-list .item h1,
.team-list .item h3 {
  color: #fff;
}
.team-list .item h1 {
  margin-bottom: 10px;
}
#contacts input {
  height: 39px;
  min-width: 300px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 0px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
}
#contacts input:focus {
  outline: none;
}
#contacts .subscribe {
  padding-bottom: 4px;
  margin-left: -5px;
}
#contacts .button {
  border-radius: 0px;
}
@media screen and (max-width: 760px) {
  #contacts input {
    width: calc(100% - 35px);
  }
  #contacts .subscribe {
    margin: 20px 0 0 -8px;
    width: calc(100% - 10px);
    text-align: center;
  }
  #contacts .subscribe span {
    margin: auto;
  }
  #contacts .subscribe a {
    width: 100%;
  }
}
#communication .title {
  margin-bottom: 20px;
}
#communication h3 {
  margin-bottom: 20px;
  color: #ccc;
}
#communication a {
  margin-right: 10px;
}
#distribution {
  padding-bottom: 0;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  align-items: center;
  background-color: #f5f8fa;
  color: #363636;
  margin-top: 50px;
}
footer .b-grid__item {
  margin: 0;
  padding: 0;
}
footer .menu {
  float: left;
}
footer .menu ul {
  display: block;
  margin: 0;
}
footer .menu ul li {
  color: #000;
  display: inline;
  padding: 1em 0.5em;
  color: #fff;
  cursor: pointer;
}
footer .year {
  float: left;
}
@media screen and (max-width: 760px) {
  footer .year {
    display: block;
    float: none;
    text-align: center;
  }
  footer .menu ul {
    margin-left: -40px;
    margin-top: 10px;
    text-align: center;
  }
}
.partners-list {
  flex-wrap: wrap;
}
.partners-list a {
  margin-bottom: 10px;
}
.partners-list a .partners-item:last-child {
  margin: 0px 10px 0px 0px !important;
}
.partners-list .b-grid__item {
  margin-bottom: 50px;
}
.center {
  text-align: center;
}
.b-grid__item.b-grid__item--1-3 {
  text-align: center;
}
.grid_inner {
  margin: auto;
  width: 60%;
  line-height: 1.5;
  font-size: 14px;
}
.grid_inner >ul {
  text-align: left;
}
.grid_inner >ul >li {
  padding-bottom: 10px;
}
.grid_inner >ul >li:last-child {
  padding-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .b-grid__item.b-grid__item--1-3 {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }
  .b-grid__item.b-grid__item--1-3:last-child {
    margin: 0 auto 0;
  }
  .grid_inner {
    width: 100%;
  }
  .anim {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .b-grid__item.b-grid__item--1-3 {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .b-grid__item.b-grid__item--1-3:last-child {
    margin: 0 auto;
  }
  .b-grid__item.b-grid__item--1-3img {
    margin: auto;
  }
  .b-grid__item.b-grid__item--1-2 {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .b-grid__item.b-grid__item--1-2:last-child {
    margin: 0 auto;
  }
  .wrapper {
    padding: 0;
  }
  .wrapper .inner-list p.title {
    font-size: 32px;
    padding: 0 1em;
  }
  .wrapper .inner-list p::selection {
    background: #ffd24f;
  }
  .wrapper .inner {
    padding: 0;
  }
  .wrapper .inner .b-grid__list .b-grid__item:first-child {
    padding-left: 15px;
  }
  .wrapper .inner .b-grid__list .b-grid__item:last-child {
    padding-right: 15px;
  }
  .spotlights {
    margin-bottom: 0;
  }
  .spotlights article {
    padding: 3em 2em 3em 3em;
    margin-bottom: 0;
  }
  footer .menu ul {
    padding: 0;
    margin-left: -15px;
  }
  footer .menu ul li {
    float: left;
  }
  #contacts input {
    padding: 0 5px;
    margin-left: -8px;
    border-radius: 0;
    min-width: 270px;
  }
  #contacts .spotlights article {
    padding: 3.5em 0em 1.5em 3em;
  }
  .teams .b-grid__item {
    padding: 0;
  }
  .teams .serokell .title {
    margin-top: 1.5em;
  }
  .welcome {
    padding-right: 15px;
  }
  .title {
    font-size: 36px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #partners .spotlights article {
    padding: 3.5em 1em 1.5em 1.5em;
  }
}
.indexPage {
  padding: 20px 15px 20px !important;
}
p {
  line-height: 1.5 !important;
  font-size: 14px;
}
.subs {
  margin-left: -10px;
}
.description_inner {
  text-align: left;
}
.description_inner li {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 20px;
}
.description_inner ul {
  margin-top: 10px;
}
.solution-block .b-grid__item--1-3:first-child {
  padding: 0 15px 15px 15px !important;
}
.solution-block .b-grid__item--1-3:last-child {
  padding: 0 15px 15px 15px !important;
}
.solution-block .b-grid__item--1-3 {
  padding: 0 15px 15px 15px;
}
.solution-block .b-grid__item--1-3 .solution-info {
  background: #000;
  padding: 2em;
  border-radius: 4px;
  min-height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution-block .b-grid__item--1-3 .solution-info p {
  margin-top: 20px;
  margin-bottom: 0;
}
.solution-block .b-grid__item--1-3 .solution-info img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  p {
    line-height: 1.5 !important;
    font-size: 17px;
  }
  .solution-block .b-grid__item--1-3 .solution-info {
    padding: 2.5em 2em;
  }
  .grid_inner {
    font-size: 17px;
    line-height: 1.5;
  }
  .grid_inner ul {
    margin-top: 2em;
    padding-right: 15px;
  }
  .description_inner li {
    font-size: 17px;
    line-height: 1.5;
  }
  .description_inner ul {
    margin-top: 15px;
  }
}
.b-grid--post-preview .b-grid__list {
  margin: 0 0 0 -15px;
}
.b-grid--post-preview .b-grid__item {
  padding: 0 0 45px 15px;
}
.b-grid__list {
  margin: 0 0 0 -15px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.b-grid--1-1 .b-grid__item {
  max-width: 100%;
  flex-basis: 100%;
}
.b-grid--1-2 .b-grid__item {
  max-width: 50%;
  flex-basis: 50%;
}
.b-grid--1-3 .b-grid__item {
  max-width: 33.33%;
  flex-basis: 33.33%;
}
.b-grid--1-4 .b-grid__item {
  max-width: 25%;
  flex-basis: 25%;
}
.b-grid--1-5 .b-grid__item {
  max-width: 20%;
  flex-basis: 20%;
}
.b-grid--1-6 .b-grid__item {
  max-width: 16.66%;
  flex-basis: 16.66%;
}
.b-grid--1-7 .b-grid__item {
  max-width: 14.28%;
  flex-basis: 14.28%;
}
.b-grid--1-8 .b-grid__item {
  max-width: 12.5%;
  flex-basis: 12.5%;
}
.b-grid--1-9 .b-grid__item {
  max-width: 11.11%;
  flex-basis: 11.11%;
}
.b-grid--1-10 .b-grid__item {
  max-width: 10%;
  flex-basis: 10%;
}
.b-grid--1-11 .b-grid__item {
  max-width: 9.09%;
  flex-basis: 9.09%;
}
.b-grid--1-12 .b-grid__item {
  max-width: 8.33%;
  flex-basis: 8.33%;
}
.b-grid__item {
  max-width: 100%;
  flex-basis: 100%;
  padding: 0 0 15px 15px;
  box-sizing: border-box;
}
.b-grid__item.b-grid__item--1-1 {
  max-width: 100%;
  flex-basis: 100%;
}
.b-grid__item.b-grid__item--1-2 {
  max-width: 50%;
  flex-basis: 50%;
}
.b-grid__item.b-grid__item--1-3 {
  max-width: 33.33%;
  flex-basis: 33.33%;
}
.b-grid__item.b-grid__item--1-4 {
  max-width: 25%;
  flex-basis: 25%;
}
.b-grid__item.b-grid__item--1-5 {
  max-width: 20%;
  flex-basis: 20%;
}
.b-grid__item.b-grid__item--1-6 {
  max-width: 16.66%;
  flex-basis: 16.66%;
}
.b-grid__item.b-grid__item--1-7 {
  max-width: 14.28%;
  flex-basis: 14.28%;
}
.b-grid__item.b-grid__item--1-8 {
  max-width: 12.5%;
  flex-basis: 12.5%;
}
.b-grid__item.b-grid__item--1-9 {
  max-width: 11.11%;
  flex-basis: 11.11%;
}
.b-grid__item.b-grid__item--1-10 {
  max-width: 10%;
  flex-basis: 10%;
}
.b-grid__item.b-grid__item--1-11 {
  max-width: 9.09%;
  flex-basis: 9.09%;
}
.b-grid__item.b-grid__item--1-12 {
  max-width: 8.33%;
  flex-basis: 8.33%;
}
.b-grid__item.b-grid__item--1-12 {
  max-width: 91.66%;
  flex-basis: 91.66%;
}
.b-grid__item.b-grid__item--2-12 {
  max-width: 83.33%;
  flex-basis: 83.33%;
}
.b-grid__item.b-grid__item--3-12 {
  max-width: 75%;
  flex-basis: 75%;
}
.b-grid__item.b-grid__item--4-12 {
  max-width: 66.66%;
  flex-basis: 66.66%;
}
.b-grid__item.b-grid__item--5-12 {
  max-width: 58.33%;
  flex-basis: 58.33%;
}
.b-grid__item.b-grid__item--6-12 {
  max-width: 50%;
  flex-basis: 50%;
}
.b-grid__item.b-grid__item--7-12 {
  max-width: 41.66%;
  flex-basis: 41.66%;
}
.b-grid__item.b-grid__item--8-12 {
  max-width: 33.33%;
  flex-basis: 33.33%;
}
.b-grid__item.b-grid__item--9-12 {
  max-width: 25%;
  flex-basis: 25%;
}
.b-grid__item.b-grid__item--10-12 {
  max-width: 16.66%;
  flex-basis: 16.66%;
}
.b-grid__item.b-grid__item--11-12 {
  max-width: 8.33%;
  flex-basis: 8.33%;
}
.b-grid__item.b-grid__item--12-12 {
  max-width: 0%;
  flex-basis: 0%;
}
@font-face {
  font-family: Fairview;
  src: url("../../../static/fonts/Fairview_SmallCaps.otf");
}
@font-face {
  font-family: MuseoSansCyrl100;
  src: url("../../../static/fonts/MuseoSansCyrl100.otf");
}
@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../../../static/fonts/MuseoSansCyrl300.otf");
}
@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../../../static/fonts/MuseoSansCyrl500.otf");
}
@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../../../static/fonts/MuseoSansCyrl700.otf");
}
@font-face {
  font-family: MuseoSansCyrl900;
  src: url("../../../static/fonts/MuseoSansCyrl900.otf");
}
